<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>protectorMain</title>
  <!-- 폰트 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <!-- main CSS -->
  <link rel="stylesheet" th:href="@{/css/protectorMain-mainNonMember.css}">
  <!-- main JS -->
  <script defer th:src="@{/js/protectorMain-mainNonMember.js}"></script>
  <!-- header CSS -->
  <link rel="stylesheet" th:href="@{/css/headerNonMember.css}">
<!--  <link rel="stylesheet" th:href="@{/css/headerMember.css}">-->
  <!-- footer CSS -->
  <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
  <header th:replace="~{/basic/header-ver1 :: header1}"></header>

  <main>
    <!-- 메인 상단 -->
    <section class="protectorMain-topCnt">
      <!-- 배경 -->
      <nav class="protectorMain-topImg">
        <a th:href="@{#}" class="nav-button gree">
          <div>어르신 전용</div>
          <img th:src="@{/img/buttoncss_1.png}" />
          <img class="notice" th:src="@{/img/notice.png}" />
        </a>
        <a th:href="@{#}" class="nav-button red">
          <div>공지사항</div>
          <img th:src="@{/img/buttoncss_2.png}" />
        </a>
        <a th:href="@{#}" class="nav-button blue">
          <div>보호자 설문</div>
          <img th:src="@{/img/buttoncss_3.png}" />
        </a>
        <a th:href="@{#}" class="nav-button yell">
          <div>커뮤니티</div>
          <img th:src="@{/img/buttoncss_4.png}" />
        </a>
      </nav>
    </section>
    <section id="part">
      <!-- 공지사항 -->
      <div class="protectorMain-notice">
        <h1>공지사항</h1>
        <a class="add" th:href="@{#}">더보기 &#10095;</a>
        <section class="articlebox">
          <article>
            <h3>testdddddddddddddddddddddddddddddddddddddddddddd</h3>
            <p>
              testdddddddddddddddddddddddddddddddddddddddddddddddddddddddddd
            </p>
          </article>
          <article>
            <h3>test</h3>
            <p>
              test
            </p>
          </article>
        </section>
      </div>
      <!-- 커뮤 -->
      <div class="protectorMain-commu">
        <article class="commu-commu">
          <h1>소통</h1>
          <a class="add" th:href="@{#}">더보기 &#10095;</a>
          <section class="articlebox">
            <article>
              <h3>test</h3>
              <p>
                test
              </p>
            </article>
            <article>
              <h3>test</h3>
              <p>
                test
              </p>
            </article>
          </section>
        </article>
        <hr>
        <article class="commu-commu">
          <h1>시설후기</h1>
          <a class="add" th:href="@{#}">더보기 &#10095;</a>
          <section class="articlebox">
            <article>
              <h3>test</h3>
              <p>
                test
              </p>
            </article>
            <article>
              <h3>test</h3>
              <p>
                test
              </p>
            </article>
          </section>
        </article>
      </div>
      <!-- 광고 배너 -->
      <div class="protectorMain-banner">
        <div class="protectorMain-bannerMove">
          <button>
            <img th:src="@{/img/protectorMain-prev.png}" alt="" />
          </button>
          <button>
            <img th:src="@{/img/protectorMain-next.png}" alt="" />
          </button>
        </div>

        <div class="protectorMain-bannerCnt">
          <ul class="protectorMain-bannerImg">
            <a href="#">
              <img th:src="@{/img/protectorMain-bannerImg.png}" alt="" />
            </a>
            <a href="#">
              <img th:src="@{/img/protectorMain-bannerImg.png}" alt="" />
            </a>
            <a href="#">
              <img th:src="@{/img/protectorMain-bannerImg.png}" alt="" />
            </a>
          </ul>
        </div>
      </div>
    </section>
  </main>

  <footer th:replace="~{/basic/footer :: footer}"></footer>
</body>
</html>