<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>protectorMain</title>
  <!-- 폰트 -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">
  <!-- main CSS -->
  <link rel="stylesheet" th:href="@{/css/protectorMain-mainNonMember.css}">
  <!-- main JS -->
  <script defer th:src="@{/js/protectorMain-mainNonMember.js}"></script>
  <!-- header CSS -->
  <link rel="stylesheet" th:href="@{/css/headerNonMember.css}">
  <!-- footer CSS -->
  <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
  <header th:replace="~{/basic/header-ver1 :: header1}"></header>

  <main>
    <!-- 메인 상단 -->
    <section class="protectorMain-topCnt">
      <!-- 배경 -->
    </section>
    <section id="part">
    <nav class="protectorMain-topImg">
      <a th:href="@{#}" class="nav-button gree">
        <div>어르신 전용</div>
        <img th:src="@{/img/buttoncss_1.png}" />
        <img class="notice" th:src="@{/img/notice.png}" />
      </a>
      <a th:href="@{#}" class="nav-button red">
        <div>공지사항</div>
        <img th:src="@{/img/buttoncss_2.png}" />
      </a>
      <a th:href="@{#}" class="nav-button blue">
        <div>보호자 설문</div>
        <img th:src="@{/img/buttoncss_3.png}" />
      </a>
      <a th:href="@{#}" class="nav-button yell">
        <div>커뮤니티</div>
        <img th:src="@{/img/buttoncss_4.png}" />
      </a>
    </nav>
      <!-- 공지사항 -->
      <div class="protectorMain-notice">
        <h1>공지사항</h1>
        <a class="add" th:href="@{#}">더보기 &#10095;</a>
        <section class="articlebox">
          <article>
            <h3>[점검안내] 금일 알흠 페이지 점검이 있을 예정입니다. </h3>
            <p>
              금일 03시부터 04시에 알흠 페이지 점검이 있을 예정입니다.
              해상 시간 동안은 알흠 서비스 이용이 어려울 수 있습니다.
              더 나은 서비스 제공을 위한 점검이오니, 많은 양해 부탁바랍니다.
            </p>
          </article>
          <article>
            <h3>[사용법 안내] 알흠 홈페이지 알차게 이용하기</h3>
            <p>
              안내 안내 안내
            </p>
          </article>
        </section>
      </div>
      <!-- 커뮤 -->
      <div class="protectorMain-commu">
        <article class="commu-commu">
          <h1>소통</h1>
          <a class="add" th:href="@{#}">더보기 &#10095;</a>
          <section class="articlebox">
            <article>
              <h3>어떻게 하세요?</h3>
              <p>
                전문 간병인을 들여야하나 아니면 요양병원을 알아봐야하나 고민이에요.
                다른 보호자 분들은 어떻게 하고 계신가요?
              </p>
            </article>
            <article>
              <h3>오늘 OO요양원에서 종이접기를 했나봐요</h3>
              <p>
                감동이에요.
              </p>
            </article>
          </section>
        </article>
        <hr>
        <article class="commu-commu">
          <h1>시설후기</h1>
          <a class="add" th:href="@{#}">더보기 &#10095;</a>
          <section class="articlebox">
            <article>
              <h3>OO요양원 추천</h3>
              <p>
                교감 프로그램도 많고 좋아요
              </p>
            </article>
            <article>
              <h3>RR병원은 비추</h3>
              <p>
                불친절해요 설명도 없고
              </p>
            </article>
          </section>
        </article>
      </div>
      <!-- 광고 배너 -->
      <div class="protectorMain-banner">
        <div class="protectorMain-bannerMove">
          <button>
            <img th:src="@{/img/protectorMain-prev.png}" alt="" />
          </button>
          <button>
            <img th:src="@{/img/protectorMain-next.png}" alt="" />
          </button>
        </div>

        <div class="protectorMain-bannerCnt">
          <ul class="protectorMain-bannerImg">
            <a href="#">
              <img th:src="@{/img/protectorMain-bannerImg.png}" alt="" />
            </a>
            <a href="#">
              <img th:src="@{/img/protectorMain-bannerImg.png}" alt="" />
            </a>
            <a href="#">
              <img th:src="@{/img/protectorMain-bannerImg.png}" alt="" />
            </a>
          </ul>
        </div>
      </div>
    </section>
  </main>

  <footer th:replace="~{/basic/footer :: footer}"></footer>
</body>
</html>