<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>
<footer th:fragment="footer">
    <section class="footer">
        <article class="footerContainer">
            <div class="footerText1">
                <a href="#">알흠소개</a>
                <a>·</a>
                <a href="#">이용약관</a>
                <a>·</a>
                <a href="#">개인정보처리방침</a>
            </div>
            <div class="footerText2">
                <div>주소 : 알흠도 알흠시 팀플이후구 디벨롭동 | 대표자 : 한지윤</div>
                <div>전화문의 : 010-2657-3508 | E-MAIL : uzzyjunior@gmail.com</div>
            </div>
            <div class="footerText3">copyright ⓒ 2024 jiyoon</div>
        </article>
    </section>
</footer>
</body>
</html>