<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>header</title>
</head>
<body>
<header th:fragment="header1">
    <section>
        <div class="header">
            <!-- 헤더 네비게이션 바 -->
            <div class="headerNav">
                <a th:href="@{/alheum}" class="headerLogo">
                    <img src="/img/alheum_logo.svg" alt="">
                </a>
                <div class="headerNav-container">
                    <a th:href="@{/alheum}">홈</a>
                    <a th:href="@{/alheum/introduce}">소개</a>
                    <a th:href="@{/alheum/recommend}">시설찾기</a>
                    <a th:href="@{/alheum/survey}">설문/검사</a>
                    <a th:href="@{/alheum/community/main}">커뮤니티</a>
                </div>
            </div>

            <!-- 헤더 로그인/회원가입 -->
            <div class="headerLogin" th:if="${session.proMemNum == null}">
                <a th:href="@{/alheum/user/join}">회원가입</a>
                <a th:href="@{/alheum/user/login}" class="login-button">로그인</a>
            </div>
<!--            로그인 되어 있을 때-->
            <div th:if="${session.proMemNum != null}">
                <a class="headerLogin" th:href="@{/alheum/mypage}">
                    <img src="/img/protectorMain-profileVer2.png" alt="">
                    <span class="login-user" th:text="${session.proMemName}+'님'"></span>
                </a>
            </div>
        </div>
    </section>
</header>
</body>
</html>