/* 기본 설정 */
:root {
  --font-color-default : #333;
  --font-color-grey: #727272;
  --font-color-white: #ffffff;
  --color-main: #FE7A15;
  --color-main-hover: #DF5427;
  --color-disabled: #DCDCDC;
  --color-sub-yell: #F8D90F;
  --color-sub-yell-hover: #eba40c;
  --color-sub-blue: #37BACC;
  --color-sub-blue-hover: #0f9bad;
  --color-sub-gree: #D3DD18;
  --color-sub-gree-hover: #9dc001;
  --color-gray: #8b8b8b;
  --color-gray-hover: #686868;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: var(--font-color-default);
  /* 텍스트긁기 방지 */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* 헤더 */
header {
  background-color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

header{
  position: sticky;
  top: 0;
  z-index: 2;
}

.header {
  width: 970px;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.headerLogo{
  width: 70px;
}

a {
  text-decoration: none;
}

.headerNav {
  display: flex;
}

.headerNav-container{
  margin: auto 30px;
}

.headerNav-container a, .login-user {
  display: inline-block;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  padding: 0 20px;
  line-height: 50px;
}

.login-user{
  padding: 0;
  width: 90px;
  text-align: center;
}

.headerNav-container a:hover {
  color: var(--color-main);
  font-weight: 600;
}

/*오른쪽 버튼들 */

.headerLogin {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.headerLogin a{
  line-height: 45px;
  text-align: center;
  font-weight: 500;
}

.headerLogin a:hover:not(.login-button){
  color: var(--color-main);
  font-weight: 600;
}

.login-button {
  color: white;
  width: 80px;
  height: 45px;
  background-color: var(--color-main);
  border-radius: 8px;
}

.login-button:hover{
  background-color: var(--color-main-hover);
}

.headerLogin img{
  width: 50px;
}
